@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400&family=Inter:wght@300;400;500;600;700&display=swap');

:root {
    --green: #325118;       /* Hijau Hutan Tua */
    --footer: #1A2E12;      /* Hijau Gelap Footer */
    --orange: #E66D07;      /* Oranye Harimau (CTA) */
    --cream: #FDFBE4;       /* Krem Tulang */
    --white: #FFFFFF;
    
    /* Typography */
    --font-serif: 'Crimson Text', serif;
    --font-sans: 'Inter', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url('../image/bglogin.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--font-sans);
    min-height: 100vh;
    position: relative;
    color: var(--cream);
    padding-top: 80px;  
    padding-bottom: 90px; 
    box-sizing: border-box; 
    
    /* Overlay Background Gelap */
    background-color: rgba(0, 0, 0, 0.4); 
    background-blend-mode: overlay;
    z-index: -1;
}

/* --- NAVBAR --- */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 20px 0;
    transition: all 0.3s ease;
    background-color: var(--green);
}

header.scrolled {
    background-color:var(--green);
    backdrop-filter: blur(10px);
    padding: 15px 0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-image {
    height: 50px; 
    width: auto;
}

.logo-text {
    font-family: var(--font-serif);
    font-size: 36px;
    letter-spacing: -2px;
    color: var(--cream);
    font-weight: 600;
    text-transform: uppercase;
}

.nav-links {
    display: flex;
    gap: 40px;
}

.nav-links a {
    color: var(--cream);
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    transition: color 0.3s;
    font-family: var(--font-serif);
}

.nav-links a:hover, 
.nav-links a.active {
    color: var(--white);
    text-shadow: 0 0 10px rgba(255,255,255,0.3);
}
/* --- Navigation Buttons --- */
.header-btns {
    display: flex;
    gap: 15px;
}

.nav-btn {
    font-family: var(--font-serif);
    padding: 8px 25px;
    border-radius: 12px;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
    transition: all 0.3s ease;
    display: flex;
    width: 130px;
    height: 40px; 
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.nav-btn.ghost {
    background: transparent;
    color: var(--cream);
    border: 2px solid var(--cream);
}

.nav-btn.ghost:hover {
    background: rgba(253, 251, 228, 0.1);
    transform: translateY(-2px);
}

.nav-btn.filled {
    background: var(--orange);
    color: var(--cream);
    border: none;
}

.nav-btn.filled:hover {
    background: #c05805;
    transform: translateY(-2px);
}

/* --- CONTAINER LOGIN/REGISTER --- */
.container {
    background-color: rgba(50, 81, 24, 0.30); 
    border-radius: 12px; 
    position: relative;
    overflow: hidden;
    width: 1200px; 
    max-width: 95%;
    margin: auto;
    min-height: 678px; 
    backdrop-filter: blur(25px);}

/*FORM STYLES*/
.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

/* Layout Form untuk Masuk & Daftar */
form {
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px; 
    height: 100%;
    text-align: left;
}

/* Typography Form (Judul) */
form h1 {
    font-family: var(--font-serif);
    font-weight: 700;
    font-size: 52px; 
    letter-spacing: -2px;
    text-align: center;
    margin-bottom: 10px;
    color: var(--cream);
}

/* Subtitle (Deskripsi di bawah judul) */
.subtitle {
    font-size: 22px; 
    font-weight: 300;
    font-family: var(--font-sans);
    line-height: 1,2;
    color: var(--cream);
    text-align: center;
    margin-bottom: 25px;
}
/* Inputs */
.input-group {
    margin-bottom: 12px; 
    width: 100%;
}

label {
    display: block;
    font-size: 22px; 
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: 500;
    color: var(--cream);
}

input {

    color: var(--cream);
    font-family: var(--font-sans); 
    font-size: 20px; 
    transition: all 0.3s;
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    padding: 12px 15px;
    width: 100%;
    outline: none;
}

input::placeholder {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.5);
}

input:focus {
    outline: none;
    border-bottom-color: var(--orange);
}

/* Tombol Submit Besar (Masuk / Daftar Sekarang) */
button.daftar-btn {
    border: none;
    border-radius: 12px;
    background-color: var(--orange); 
    color: var(--cream);
    font-size: 24px;
    font-weight: 700;
    transition: all 0.3s ease;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    height: 47px;
    font-family: var(--font-serif);
    padding: 4px 25px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

button.daftar-btn:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transform: translateY(-2px);
}

button.daftar-btn:active {
    transform: scale(0.95);
}

button.masuk-btn {
    border: none;
    border-radius: 12px;
    background-color: var(--cream); 
    color: var(--green);
    font-size: 24px;
    font-weight: 700;
    transition: all 0.3s ease;
    text-align: center;
    cursor: pointer;
    margin-top: 15px;
    width: 100%;
    height: 47px;
    font-family: var(--font-serif);
    padding: 4px 25px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

button.masuk-btn:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transform: translateY(-2px);
}

button.masuk-btn:active {
    transform: scale(0.95);
}

/*ANIMATION & LOGIC (SLIDING)*/
.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
    opacity: 1; 
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

/* Animasi saat tombol diklik */
.container.right-panel-active .sign-in-container {
    transform: translateX(100%);
    opacity: 0; 
    pointer-events: none; 
}

.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
    pointer-events: all; 
}

@keyframes show {
    0%, 49.99% { opacity: 0; z-index: 1; }
    50%, 100% { opacity: 1; z-index: 5; }
}

/*OVERLAY PANEL (HIJAU BERGERAK)*/
.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.overlay {
    background: var(--green);
    color: var(--cream);
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-panel h1 {
    font-family: var(--font-serif);
    font-weight: 700;
    font-size: 52px;
    margin-bottom: 10px;
    line-height: 1.1;
    letter-spacing: -2px;
    text-align: center;
    color: var(--cream);
   
}
/* (Deskripsi di bawah judul) */
.overlay-panel p {
    font-size: 22px; 
    font-weight: 300;
    font-family: var(--font-sans);
    line-height: 1,2;
    color: var(--cream);
    text-align: center;
    margin-bottom: 25px;
}

/* --- TOMBOL OVERLAY --- */
.overlay-panel button {
    border: none;
    border-radius: 12px;
    background-color: var(--cream); 
    color: var(--green);
    font-size: 24px;
    font-weight: 700;
    transition: all 0.3s ease;
    text-align: center;
    cursor: pointer;
    margin-top: 15px;
    min-width: 200px;
    height: 47px;
    font-family: var(--font-serif);
    padding: 4px 25px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

/* Tombol Masuk (Solid Cream) */
button.ghost1 {
    background-color: var(--cream);
    color: var(--green);
    border: 2px solid var(--cream);
}

button.ghost1:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transform: translateY(-2px);
}

button.ghost1:active {
    transform: scale(0.95);
}

/* Tombol Daftar (Solid Orange) */
button.ghost2 {
    background-color: var(--orange);
    color: var(--cream);
    border: 2px solid var(--orange);
}

button.ghost2:hover {
   box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transform: translateY(-2px);
}

button.ghost2:active {
    transform: scale(0.95);
}

/* Gerakan Overlay */
.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-left {
    transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

/* --- FOOTER --- */
footer {
    width: 100%;
    height: 80px;
    background-color: var(--footer);
    color: var(--cream);
    z-index: 199;
    position: absolute; 
    bottom: 0px;
    text-align: center;
    padding: 0 20%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--cream);
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    font-family: var(--font-serif);
    
}

.footer-brand {
    font-family: var(--font-serif);
    font-weight: 700;
    font-size: 24px;
    color: var(--cream);
}

.footer-socials a {
    color: var(--cream);
    margin: 0 10px;
    text-decoration: none;
    font-size: 18px;
    transition: opacity 0.3s;
}

.footer-socials a:hover {
    opacity: 0.7;
}

/*RESPONSIVE (MOBILE)*/
@media (max-width: 768px) {
    .container {
        width: 100%;
        min-height: 700px;
        margin-top: 80px;
        border-radius: 0; 
    }
    
    .sign-in-container, 
    .sign-up-container {
        width: 100%;
        position: relative;
        height: auto;
        padding: 40px 20px;
    }
    
    .overlay-container {
        display: none; 
    }
    
    .container.right-panel-active .sign-in-container,
    .container.right-panel-active .sign-up-container {
        transform: none;
        animation: none;
    }
}